<div class="jumbotron">
	<h4 class="mb-3">Editar Tarefa</h4>

	<%= render 'form' %>
	<%= render partial: 'task_logs/form', locals: { task_log: TaskLog.new(task_id: @task.id) } %>
	<%= render partial: 'task_logs/index', locals: { task_id: @task.id } %>
</div>
