<hr />
<h5>Adicionar Log de Anotações</h5>
<%= form_with(model: task_log, local: true) do |form| %>
  <%= form.hidden_field :task_id %>
  <% if task_log.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= t('errors_on_save') %></h5>

      <ul>
      <% task_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <% unless task_log.task.finalizado? %>
  <div class="form-row">
    <div class="form-group col-md-12">
      <%= form.label :finished %>
      <%= form.check_box :finished %>
    </div>
  </div>
  <% end %>

  <div class="actions">
    <div class="btn-group" role="group" aria-label="Ações">
      <%= form.submit 'Adicionar Anotação', class: 'btn btn-sm btn-primary' %>
    </div>
  </div>
<% end %>
