<!DOCTYPE html>
<html>

<head>
  <title><%=t(:application_name)%></title>
  <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'devise', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container text-center">
    <%= image_tag "logo.jpg", width: 300, class: 'mb-3' %>
    <%= yield %>
    <p class="mb-3 text-muted">Construído por
      <a href="http://www.clickmob.com.br/" target="_blank">clickmob.com.br</a>
    </p>
  </div>
</body>

</html>
